<!DOCTYPE html>
<html>
  <head>
    <title>Reshelf</title>
    <%= csrf_meta_tags %>
    <meta name="google-books-token" content="AIzaSyApbbZOogdv_QcIBE90w7UC9ZWZGixawNs" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAknk8AAAAAAACu4wBhLxgADTRjAGy12QAXR4IAHBy9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZhd3FVUREQBmF3cVVRERACIXdxVVEREAZhd3FVUSIQBmF3cVVRERAGYXdxVVEREAZhd3FVUREQBmF3cVVRIhM2YXdxVVEREzIhIiFEQRETMiEREURBERMyIRERVVEiEzZhERFVUREQBmEiIRERERABEXdxERERERERd3EREREREiJAAAIiQAACIkAAAiJAAAIiQAACIkAAAiJAAAIiQAACIkAAAiJAAAIiQAACIkAAAiJAAAI+QAAOPnAADj/wAA" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <div id="mount-point">
      <div id="user-loading" class="animated fadeIn">
        <div class="cp-spinner cp-hue"></div>
      </div>
    </div>
    <%= javascript_include_tag cljs_main_path %>
  </body>
</html>
